---
layout: splash
---
<h5 class="text-muted">{{ content }}</h5>
<div class="container">
	<div class="row ">
		<div class="col font-weight-bold">
			<div class="row">
				<h3><i class="bi-megaphone"></i></h3>
				<div class="mx-1"></div>
				<div>
					<h3>Give us a call</h3>
					<a href="tel:571-306-2607">+1 (571) 306-2607</a>
				</div>
			</div>
			<div class="mx-5"></div>
			<div class="row">
				<h3><i class="bi-mailbox"></i></h3>
				<div class="mx-1"></div>
				<div>
					<h3>Send us an email</h3>
					<a href="mailto:Contact@MomentumIQ.ai">Contact@MomentumIQ.ai</a>
				</div>
			</div>
		</div>
		<div class="border-left mx-4"></div>
		<div class="col">
		</div>
	</div>
</div>